# --- Laravel ---
/vendor
/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/pail
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
/.fleet
/.idea
/.nova
/.vscode
/.zed
/auth.json
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store
*.log
*.phpactor.json

# --- AI & Python ---
venv/
__pycache__/
*.pyc
# Mengabaikan semua file .pkl di dalam folder AI
AI/**/*.pkl